export(Apply, Sapply, Lapply, parallelize, parallelize_call, parallelize_initialize, parallelize_setEnable, tempcodefile, Log, Log.setLevel, Log.level, readFile)
#exportPattern("^[[:alpha:]]+")
exportMethods(
    "finalizeParallelization",
    "getResult",
    "initialize",
    "initScheduling",
    "isSynchroneous",
    "lapply_dispatchFinalize",
    "lapply_dispatch",
    "lapply_results",
    "parallelize_backend",
    "performParallelizationStep",
    "pollParallelization",
    "restoreParallelizationState",
    "saveParallelizationState",
    "scheduleNextParallelization" 
)
exportClasses(
    "LapplyExecutionState",
     "LapplyFreezer",
     "ParallelizeBackend",
     "ParallelizeBackendLocal",
     "ParallelizeBackendOGSremote",
     "ParallelizeBackendSnow" 
)
